<dialog id="dialogAddTicket" class="rounded-md shadow-md p-4 w-80">
  <form id="dialogAddticketForm" method="dialog" class="space-y-3">
    <h2 class="text-lg font-semibold">เพิ่มโพยหวย</h2>
    <div class="mb-4">

      <p class="text-xs">วันที่ : <span id="currentDate"></span></p>

      <div class="flex justify-end gap-2 pt-2">
        <button type="button" onclick="document.getElementById('dialogAddTicket').close()"
          class="bg-gray-300 px-3 py-1 rounded">
          ยกเลิก
        </button>
        <button type="submit" id="saveTicketBtn" class="bg-indigo-600 text-white px-3 py-1 rounded">
          บันทึก
        </button>
      </div>
  </form>
</dialog>